.required {
    color: red;
    text-align: start;
}

.card {
    border-top: 10px solid grey;
    border-left: 1px solid grey;
    border-right: 1px solid grey;
    border-bottom: 1px solid grey;
    border-radius: 5px;
    margin: 10px 5px;
    padding: 4px;
    width: 600px;
    position: relative;
    left: 450px;
    background-color: #663b03;
}

h3 {
    color: yellow;
}
.cardtext {
    text-align: left;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: yellow;
}

#card1text {
    font-family:Arial, Helvetica, sans-serif;
    color: yellow;
}

/* card2text is on AxisFormPg2.html */

#card2text {
    padding-bottom: 10px;
    color: yellow;
}

button {
    position: relative;
    left: 460px;
    background-color: white;
    border-radius: 5%;
    color: green;
    border-color: green;
    margin-bottom: 1rem;
}

input {
    border-top: none;
    border-left: none;
    border-right: none;
}
 
input[input*="number"] {
    border-top: thin;
    border-left: thin;
    border-right: thin;
}

.bodformpg1 {
    background-image: url("formimage\(google\).jpg");
    background-repeat: no-repeat;
    background-size:cover;
}
button a {
    text-decoration: none;
    color: inherit;
}
