.footer {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    width: 100vw;
    height: auto;
    text-align: center;
    background-color: #574328;
    margin-top: 64px;
}

.footer > button {
    padding: 24px;
}

.text {
    color: #F2F2F2;
    padding: 24px;
    padding-top: 0px;
}