/* Shopping Options Description */
.shoppingoptions p {
  color: white;
  text-align: center;
  font-size: var(--font-size-adjust);
  padding: 1rem 2rem 0rem 4rem;
  line-height: var(--line-height-adjust);
}
.whitebox {
  background-color: white;
  /* margin: 0rem 22rem 0rem 22rem; */
  border-radius: 5px;
  border-color: yellow;
  border-style: solid;
  margin-bottom: 1rem;
}
/* Google form link */
.formlink {
  text-align: center;
  font-size: 1.5rem;
  color: white;
  /* margin: 0rem 22rem 0rem 22rem; */
}
.storedescription {
  font-family: Georgia;
  font-size: 0.9rem;
  color: white;
}
.wineimage-image {
  width: 20rem;
  float: right;
}



