.nav {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    width: 100vw;
    height: 120px;
    padding-left: 10%;
    padding-right: 10%;
    background-color: #F5F1ED;
}

.links {
    display: flex;
    justify-content: center;
    flex-direction: row;
    width: 100vw;
}

.links > li {
    padding-left: 5.86%;
    color: #3F301D;
    display: flex;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.75rem;
}

.title {
    display: flex;
    text-align: right;
    font-style: italic;
    font-weight: 600;
    color: #3F301D;
    white-space: nowrap;
    padding-right: 5.86%;
}

.links > li > * > span:hover {
    color: #43A276;
}

#hamburger {
    width: 35px;
    display: none;
    padding-bottom: 48px;
    padding-right: 64px;
}

#hamburger > button {
    cursor: pointer;
}
  
.bar {
    width: 35px;
    height: 5px;
    background-color: #43A276;
    margin: 6px 0;
    transition: 0.4s;
}

#hamburger_menu {
    background-color: #F5F1ED;
    height: 100vh;
    position: fixed;
    z-index: 2;
    transition: all 0.8s ease-in-out;
    display: flex;
    justify-content: center;
}

.hamburger_open {
    width: 100vw;
}

.hamburger_close {
    width: 0%;
    pointer-events: none;
}

.hamburger_links {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 20vw;
    height: 100vh;
    text-align: center;
    font-weight: 600;
    color: #3F301D;
    padding-bottom: 92px;
    font-size: 1.75rem;
    font-family: 'Open Sans', sans-serif;
}

.hamburger_links > li {
    transition: all 0.5s ease-in;
    display: flex;
    justify-content: center;
    padding: 32px 16px 8px 16px;
}

.hidden {
    opacity: 0;
    visibility: hidden;
}

.active {
    color: #247B59;
    font-weight: 600;
    border-bottom: 4px solid #70C49D;
}

@media only screen and (max-width: 1000px) { /* Mobile Large */
    .title {
        width: 100%
    }
    .links > li {
        font-size: 1.375rem;
    }
}

@media only screen and (max-width: 800px) { /* Mobile Small */
    #hamburger {
        display: inline-block;
    }
    #home, #items, #about,#contact {
        display: none;
    }
    .nav {
        top: 0;
        padding-right: 0;
        padding-left: 0;
        position: fixed;
        z-index: 5;
        height: 64px;
    }
    .links {
        justify-content: space-around;
        padding-top: 48px;
        width: 100%;
    }
    .title {
        display: flex;
        justify-content: flex-end;
        width: 100%;
        padding: 0px 5%;
    }

    .hamburger_links {
        font-size: 1.25rem;
    }
}

@media only screen and (max-width: 300px) { /* Extra Small */
    #hamburger {
        padding-left: 0%;
        padding-right: 0%;
    }
    .title {
        display: none;
        width: 0px;
        padding: 0px;
    }
    .title > * {
        display: none;
        padding: 0px;
        width: 0px;
    }
    .links {
        justify-content: center;
    }
    .links>li {
        display: none;
    }
    .hamburger_links > li {
        font-size: 14px;
        padding: 32px 8px 32px 8px;
        height: 15%;
    }
}