.contactform {
    align-items: center;
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
  }
  .contactinput {
    width: 300px;
    height: 30px;
  }
  .comments {
    height: 10rem;
    width: 300px;
  }
  .contactlabel {
    border: solid yellow;
    background-color: #663b03;
    width: 300px;
    color: white;
    font-style: oblique;
    box-shadow: yellow 0px 0px 10px 5px;
  }