/***
    The new CSS reset - version 1.7.3 (last updated 7.8.2022)
    GitHub page: https://github.com/elad2412/the-new-css-reset
***/

/*
    Remove all the styles of the "User-Agent-Stylesheet", except for the 'display' property
    - The "symbol *" part is to solve Firefox SVG sprite bug
 */
 *:where(:not(html, iframe, canvas, img, svg, video, audio):not(svg *, symbol *)) {
    all: unset;
    display: revert;
}

/* Preferred box-sizing value */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Reapply the pointer cursor for anchor tags */
a, button {
    cursor: revert;
}

/* Remove list styles (bullets/numbers) */
ol, ul, menu {
    list-style: none;
}

/* For images to not be able to exceed their container */
img {
    max-width: 100%;
}

/* removes spacing between cells in tables */
table {
    border-collapse: collapse;
}

/* Safari - solving issue when using user-select:none on the <body> text input doesn't working */
input, textarea {
    -webkit-user-select: auto;
}

/* revert the 'white-space' property for textarea elements on Safari */
textarea {
    white-space: revert;
}

/* minimum style to allow to style meter element */
meter {
    -webkit-appearance: revert;
    appearance: revert;
}

/* reset default text opacity of input placeholder */
::placeholder {
    color: unset;
}

/* fix the feature of 'hidden' attribute.
   display:revert; revert to element instead of attribute */
:where([hidden]) {
    display: none;
}

/* revert for bug in Chromium browsers
   - fix for the content editable attribute will work properly.
   - webkit-user-select: auto; added for Safari in case of using user-select:none on wrapper element*/
:where([contenteditable]:not([contenteditable="false"])) {
    -moz-user-modify: read-write;
    -webkit-user-modify: read-write;
    overflow-wrap: break-word;
    -webkit-line-break: after-white-space;
    -webkit-user-select: auto;
}

/* apply back the draggable feature - exist only in Chromium and Safari */
:where([draggable="true"]) {
    -webkit-user-drag: element;
}





/****************Custom CSS Start here**********************************/
/* ===== Scrollbar CSS ===== */
  /* Firefox */
  * {
    scrollbar-width: auto;
    scrollbar-color: #43A276 #f5f1ed;
  }

  /* Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 16px;
  }

  *::-webkit-scrollbar-track {
    background: #f5f1ed;
  }

  *::-webkit-scrollbar-thumb {
    background-color: #43A276;
    border-radius: 10px;
    border: 3px solid #f5f1ed;
  }
/* =============================== */
  html {
    scroll-behavior: smooth;
  }

  html,body
  {
      width: 100%;
      height: 100%;
      margin: 0px;
      padding: 0px;
      overflow-x: hidden; 
  }
  
  body {
      background-color: #F5F1ED;
  }
  
  p {
      font-family: 'Catamaran', sans-serif;
  }
  
  h2, h3, nav > * > ul > li {
      font-family: 'Open Sans', sans-serif;
  }

@media only screen and (min-width: 1000px) { /* Desktop */
    h2 {
        font-size: 2.25rem;
    }
    h3, nav > * > ul > li {
        font-size: 1.75rem;
    }
    p {
        font-size: 1.125rem;
        line-height: 1.375em;
    }
}

@media only screen and (max-width: 1000px) { /* Mobile Large */
    h2 {
        font-size: 1.375rem;
    }
    h3, nav > * > ul > li {
        font-size: 1.375rem;
    }
    p {
        font-size: 1rem;
        line-height: 1.375em;
    }
}

@media only screen and (max-width: 800px) { /* Mobile Small */
    main {
        padding-top: 64px;
    }
    p {
        line-height: 1.25em;
    }
}

@media only screen and (max-width: 300px) { /* Extra small */
    
}